<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{static '/style.css' %}"/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<table class="table table-striped table-bordered table-sm">

    <thead class="thread-dark">
    <tr>
        <th> Employee Name</th>
        <th> Department</th>
        <th> Employee ID</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
     <tr>
         <td>{{ employee.Employee_Name}}</td>
         <td>{{employee.Department}}</td>
         <td>{{employee.Employee_ID}}</td>
         <td>
             <a href="/edit/{{employee.id}}"><span class="glyphicon glyphicon-pencil">Edit</span> </a>
             <a href="/delete/{{employee.id}}">Delete</a>
         </td>
     </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center> <a href="/emp" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
